/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 28, 2016, 1:51:09 PM
    Author     : floriane.sapin
*/
/* ajout d'une marge avec le bord de la page' */
.panel-default{
    margin-left: 10px;
    margin-right: 10px;
}

.alert{
    margin-left: 10px;
    margin-right: 10px; 
}

.navbar-default .navbar-brand{
    color: #1D63CD;
}

.login{
    margin-left: 20px;
    margin-right: 20px;   
}

.login1{
    color: white;
    font-weight: bold;
    font-weight: 900;
    font-size: 40px;
    font-family: Lao UI;
    text-shadow: 0 0 2px #000000;
}

.login2{
    margin-left: 30px;
    margin-right: 20px; 
}

.login3{
    background-color: rgba(17,12,55,0.6);
    border-color: transparent;
}

.login4{
    color: white;
    font-weight: 900;
    font-size: 30px;
    font-family: Lao UI;
}

.log-body{
    background-image: url("");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.login5{
    background-color: rgba(17,12,50,0.7);
    font-weight: bold;
    color: white;
}

.login6{
    background-color: rgba(17,12,40,1);
    font-weight: bold;
    color: white;
}

#confirmSupprYes{
    font-size: 20px;
    font-family: Lao UI;
}

#userConnecte{
    font-family: Lao UI;
    font-size: 20px;
    color: #1D63CD;
    margin-top: 5px;
    margin-left: 15px;
}
#menu{
    font-size: 21px;
}

p{
   font-family: Lao UI; 
}

h1{
   font-family: Lao UI;  
}
table{
    font-family: Lao UI;
}

.flecheDesc {
  width: 0; 
  height: 0; 
  float:left;
  margin: 10px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid black;
}
.flecheAsc {
  width: 0; 
  height: 0;
  float:left;
  margin: 10px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid black;
}

.center-block {
  display: inline-block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.btn-largeur{
    width: 80px;
}
#divfilter{
margin-top: 25px;
width: 500px;
margin-left: 600px;
position: absolute;
}

.infoScore{
    font-size: 18px;
}

.centerImg{
    display: block;
    margin-left: auto;
    margin-right: auto 
}
